html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

  
  :root {
    --proto-grey: rgb(230, 230, 230);
    /* --accent: rgb(65, 143, 195); */
    --accent: #8BBAFF;
    --col-hover: rgb(175, 175, 175);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-animation: pagefade 1s;
    -moz-animation: pagefade 1s;
    -ms-animation: pagefade 1s;
    -o-animation: pagefade 1s;
    animation: pagefade 1s;
  }
  
  .hero-image {
    width: 100%;
    height: 100vh;
    background: var(--proto-grey);
  }
  h3 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: rgb(125, 125, 125);
  }
  header {
    padding: 0.3rem;
    display: flex;
    width: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
  }
  .menu {
    float: right;
    list-style: none;
    display: flex;
    position: absolute;
    right: 0;
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 10;
    transition: .5s ease;
    background-color:rgba(255, 255, 255,0.5);
    cursor: pointer;
    pointer-events: none;
  }

  
  .logo {
    width: 48px;
    height: 48px;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .logo:hover {
    filter: invert(0.5);
  }
  
  .menu li {
    margin-right: 5rem;
  }


  
  .menu a {
    color: rgb(177, 177, 177);
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  
  .menu a:hover {
    color: black;
  }

  .active a{
    color: black;
  }
  
  .about-content{
    display: flex; 
    padding: 5rem;
  }

  .similar-products{
    padding-left: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .project-title {
    margin-top: 0.7rem;
  }
  
 
  .home-project-items {
    margin-top: 3rem;
    margin-left:6rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    grid-gap: 5%;
    column-gap: 5%;
    justify-items: center;
    align-items: center;
  }

  .project-item-product{
    margin-right: 3rem;
  }

  
  .home-project-item-small, .home-project-item-large {
    transition: 0.3s ease-in-out;
  }
  .home-project-item-large{
    grid-column-start: 1; 
    grid-column-end: 4; 
  }
  .shop-grid {
    justify-content: center;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    column-gap: 2rem;
    row-gap: 2rem;
  }

.product-hero-image{
  transition: 0.3s ease-in-out;
}

.product-container{
  width: 450rem; 
  height: auto; 
  position: relative; 
  top:0; 
  left:0;
}
  .about-info {
    padding: 2rem;
    margin: auto 0;
  }

  .product-info{
    margin-right: 0;
    font-size: 14px;
  }

  .price{
    font-size: 18px;
    font-weight: 300;
  }


  
  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
  }
  
  .product-page-image {
    width: 100%;
    height: 700px;
    background: var(--proto-grey);
  }

  .product-page-title{
    margin-bottom: 1rem;
    font-size: 18px;
  }
  
  .product-image-shop {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .home-project-image{
    transition: 0.3s ease-in-out;
  }

  .container{
    position: relative;
  }

  .container:hover .overlay{
    opacity: 1;
    
  }
  
  
  .product-thumbnails {
    display: flex;
  }
  
  .btn-primary {
    color: white;
    background: var(--accent);
    font-size: 1rem;
    border: 2px solid var(--accent);
    padding: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 1rem;
  }
  
  .btn-primary:hover {
    color: var(--accent);
    background: white;
    border: 2px solid;
    border-color: var(--accent);
  }
  
  .btn-secondary {
    color: var(--accent);
    background: white;
    font-size: 1rem;
    border: 2px solid;
    padding: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .btn-secondary:hover {
    color: white;
    background: var(--accent);
    border: 2px solid var(--accent);
  }
  
  .dotted-line {
    border: 1px dotted rgb(143, 143, 143);
    height: 25rem;
    margin: auto 0;
    margin-left: 3rem;
  }
  
  .product-title {
    font-size: 24px;
  }
  
  .product-subtitle {
    font-size: 16px;
  }

  .product-main{
    display: flex; 
    padding: 5rem; 
    padding-top: 2rem;
  }
  

  .product-page-thumbnail{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  .hamburger,.close-ico{
    display: none;
  }


  /*  keyframes */
@keyframes pagefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  h3{
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
  header{
   padding-left: 0;
   padding-right: 0;


  }

  nav{
    padding: 0;
    position: fixed;
    margin: 0;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: white;

  }

  .menu{
    float: none;
    right: auto;
    display: inline;
  }

  .menu-item{
    font-size: 24px;
    margin-bottom: 2rem;
  }

  .logo{
    display: block;
    margin: auto 0;




  }

  .home-project-items{
    display: block;
    width: 100vw;
    margin-left: 0;
  }

  .hero-image{
    display: block;
    margin: 0 auto;

  }

  .home-project-image img{
    width: 100%;
  }

  .project-title, .project-subtitle{
    text-align: center;

    
  }

  .project-subtitle{
    margin-bottom: 1rem;
  }

  .shop-grid{
    display: block;
  }

  .product-image-shop{
    margin-right: 0;
  }

  .product-main{
    display: block;
    padding: 0;
  }

  .product-hero-image{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .product-page-thumbnail{
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  .product-info{
    width: 100%;
  }

  .product-container{
    width: 24rem;
  }

  .similar-products{
    display: block;
  }

  .about-content{
    display: block;
  }
  
  .dotted-line{
    display: none;
  }

  .about-image{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
  }

 

}